<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://www.hoofersailing.org/?q=about">Learn about SailTogether</a>
  is a program to connect sailors who love to sail and have a great time! 
  with <a href="http://www.hoofersailing.org/?q=about">SailTogether</a>. This is the about page for the application. 
</p>