<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  If you have trouble with this application contact us here! 
  <a href="http://www.hoofersailing.org/?q=contact">SailTogether help page</a>.
  We can teach you to sail and how to use this application.
  <a href="http://www.hoofersailing.org/?q=contact">SailTogether Contact Page</a>.
</p>