<footer class="footer">
  <small>
    <a href="http://www.hoofersailing.org">SailTogether</a>
    by David Meyerson and Brady Loomis  
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.hoofersailing.org/?q=social">News</a></li>
    </ul>
  </nav>
</footer>
